[Unit]
Description=Relay Service
After=network-online.target

[Service]
EnvironmentFile=-/etc/relay_source.conf
Type=simple
Restart=always
RestartSec=1
ExecStart=$ {PATH}
StandardOutput=journal

[Install]
WantedBy=multi-user.target